*{
    box-sizing: border-box;
    margin: 0 auto;
    padding:0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body{
    background: black;
}

.border-gradient{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: solid;
    border-width: 0px 0 2px 0;
    border-image-slice: 1;
    border-image: linear-gradient(to right, #FF0000 20%, #00FF00 40%, #0000FF 60%, #FF00FF 80%) 1;

    animation: animatedBorder 5s linear infinite;
}

nav .nav-column{
    margin: 0;
    padding: 20px;
}

nav .nav-column img{
    width: 125px;
}

.header{
    display: flex;
    height: 100%;
    align-items: center;
}

.header .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 40px;
}

.gradient-text{
    text-align: center;
    text-transform: uppercase;
    font-size: 62px;
    font-weight: bold;
    background: linear-gradient(to right, #FF00FF 5%, #FF0000 20%, #00FF00 40%, #0000FF 60%, #FF00FF 90%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: animatedText 5s linear infinite reverse;
}

@keyframes animatedText{
    to{
        background-position: 200%;
    }
}

.home-button{
    margin: 40px auto;
    padding: 20px;
    width: 15%;
    background-color: aliceblue;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.home-button:hover{
    color: aliceblue;
    background: #383838;
}






/* MOBILE RESPONSIVE */
@media screen and (max-width: 544px){
    .header .container{
        padding: 0 60px;
    }
    
    .gradient-text{
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }
}